p {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }

  body {
      background-color: lightblue;
      text-align: center
  }

  table {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
  }
  
  table, th, td {
    border: 1px solid black;
    height: 20px;
    text-align: center
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }